@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
}

.nav-active {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-active::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100px;
    bottom: -10px;
    background: #312B78;
}

.form-control::placeholder {
    color: #746E6E;
    font-size: 12px;
    font-style: italic;
}

.card-1{
    width: 19rem;
}

.card-text {
    height: 80px;
}

.card-img {
    height: 200px;
    overflow: hidden;
}

input[type="radio"] {
    background-color: black !important;
}

input[type="radio"]+label span {
    transition: background .2s,
        transform .2s;
}

input[type="radio"]+label span:hover,
input[type="radio"]+label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked+label span {
    background-color: #312B78;
    border-color: #312B78;
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked+label {
    color: #312B78;
    font-weight: 600;
}

@media only screen and (max-width: 500px) {
    .nav-active {
        justify-content: start;
        margin-bottom: 5vh !important;
    }
}

/* slick */
.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.turbolinks-progress-bar {
    height: 5px;
    background-color: #312B78 !important;
}

.modal-box {
    position: relative;
    width: 80vw;
    background-color: white;
    display: flex;
}

.modal-box .card {
    margin: 80px 50px;
}

.modal-box .payment {
    margin: 40px 60px;
}

.modal-box .line {
    position: absolute;
    top: 0;
    left: 35vw;
    width: 1px;
    height: 100%;
    background-color: gray;
}

/* index */
body{
    overflow-x: auto;
}
.logo-iklan {
    overflow-x: auto;
}

.content1 h1 {
    margin-bottom: 10px;
    text-align: start;
    padding: 0px 50px 0px 50px;
}

.content2 .content {
    width: 100%;
}

.content2 p {
    width: 100%;
    text-align: center;
}
.content2 .btn-content{
    justify-content: center;
}
/* search */
.navbar {
    overflow: auto;
}

.search {
    margin-top: 20px;
}

input:focus {
    outline: none;
}

/* upload image */
.upload p{
    max-width: 25rem;
    text-align: center;
}
@media (min-width: 768px) {
    /* landing */
    .content2 p {
        width: 100%;
        text-align: left;
    }
    .content2 .btn-content{
        margin-top: 50px;
        justify-content: flex-start;
    }
    .slick{
        display: flex;
        justify-content: center;
    }
    .content2 .content {
        width: 40%;
    }

    /* search */
    .search {
        margin-top: 0px;
    }
}
